
@{
    ViewData["Title"] = "Secrets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Secrets</h1>
<p>
    <ul>
        <li>Configuration File: @ViewBag.ConfigFileSecret</li>
        <li>Key Vault: @ViewBag.KeyVaultSecret</li>
    </ul>
</p>

