<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="app-id" value="72f5d5c6-24b5-4f2b-af67-c2f42ed33333"/>
    <add key="app-secret" value="Lg9vnpKhqyTdq/yBfvZys98F7J0WKmfTtnVS2C7VYkM="/>
    <add key="testSecret" value="Configuration File Secert"/>
  </appSettings>
</configuration>